# Ignore app's runtime logs
logs/

# Ignore python virtual environment
venv/

# Ignore python cache files
__pycache__/

# Ignore database binary blob
app.db

# Ignore python cache files
*.pyc

# Ignore configuration files
.env
